html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}
p {
  color: #ffffff;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  padding: 0 1rem;
}

header span {
  margin-left: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
