* {
  box-sizing: border-box;
  font-family: "Kdam Thmor Pro", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

p {
  color: rgba(255, 255, 255, 0.8);
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  padding: 0 1rem;
}

header span {
  margin-left: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgba(255, 255, 255, 0.8);
    background: black;
  }
}
